* {
	border: 1px dashed black;
}
#navbar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 500px;
	padding: 5px;
	background-color: blue;
}
div ul li{
	display: inline;
	padding:0px;
}
#logo {
	position:relative;
	top:300px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
#footer {
	position:fixed;
	left:0px;
	bottom: 0px;
	height:50px;
	width:100%;
	background-color: rgb(242,242,242);
}

.left {
	float:left;
}
.right {
	float:right;
}